.dr-catorgory-icon {
  .dr-header:not(:last-child) & { color: var(--header-primary) } 
  color: var(--header-secondary);
  margin: 8px
} 
#dr-notification-position {
  & > div > div {
    margin-left: 10%;
    width: 80%
  } 
  margin-bottom: 8px
}
.dr-addon-avatar {
  & + h3 {
    & + div {  padding-top: 6px !important } 
    padding-top: 5px
  }
  border-radius: 50%; 
  cursor: pointer;
  margin-top: 3px;
  margin-right: 8px
} 
.dr-addon-gear {
  &:hover {  color: var(--interactive-hover) }
  &:active { color: var(--interactive-active) }
  &.disabled {
    cursor: not-allowed;
    color: var(--interactive-muted)
  }
  margin-right: 8px;
  cursor: pointer;
  color: var(--interactive-normal)
}
.dr-addon-version-beta {
  span {
    line-height: .9375rem;
    position: relative;
    font-weight: 500;
    vertical-align: top
  }
  background: var(--brand-experiment);
  color: #fff;
  margin-left: .25rem;
  height: .9375rem;
  padding: 0 .275rem;
  margin-top: .5em;
  border-radius: .1875rem;
  font-size: .625rem;
  text-transform: uppercase;
  vertical-align: top;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  text-indent: 0
}
.dr-addon-version-alpha {
  span {
    line-height: .9375rem;
    position: relative;
    font-weight: 500;
    vertical-align: top
  }
  background: var(--info-danger-foreground);
  color: var(--info-danger-text);
  margin-left: .25rem;
  height: .9375rem;
  padding: 0 .275rem;
  margin-top: .5em;
  border-radius: .1875rem;
  font-size: .625rem;
  text-transform: uppercase;
  vertical-align: top;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  text-indent: 0
}