#dr-toasts {
  &[location="bottomLeft"] {
    display: flex;
    flex-direction: column-reverse
  }
  &[location="bottomRight"] {
    display: flex;
    flex-direction: column-reverse
  } 
  &:empty { display: none !important }
  .dr-toast {
    &[type="info"] .dr-toast-title > :first-child { color: var(--info-help-foreground) }
    &[type="success"] .dr-toast-title > :first-child { color: var(--text-positive) }
    &[type^="warn"] .dr-toast-title > :first-child { color: var(--info-warning-foreground) }
    &[type="danger"] .dr-toast-title > :first-child,
    &[type="error"] .dr-toast-title > :first-child { color: var(--status-danger) } 
    .dr-toast-title:not(:last-child) {  margin-bottom: 6px } 
  }
  .dr-toast {
    padding: 10px;
    margin-top: 6px;
    min-width: 200px;
    position: relative
  } 
  .dr-toast-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--background-tertiary);
    border-radius: 6px;
    z-index: -1
  } 
  .dr-toast-icon {
    & + h3 { padding-top: 1px } 
    width: 24px;
    height: 24px;
    color: var(--text-normal);
  }
  .dr-toast-close {
    &:hover { color: var(--interactive-hover) } 
    &:active { color: var(--interactive-active) } 
    color: var(--interactive-normal);
    padding-top: 2px;
    cursor: pointer
  }
  .dr-toast-content {
    &:not(:last-child) { margin-bottom: 6px }
    color: var(--text-normal);
    padding: 6px;
    background: var(--background-secondary);
    border-radius: 4px;
    user-select: text
  }
  position: fixed;
  z-index: 1000;
  overflow-y: overlay;
  padding: 0 8px 0 0
}